@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Sacramento&family=Sawarabi+Mincho&display=swap');

.App {
  text-align: center;
  font-size: 1rem;
  padding:0.5rem;
  font-family: monospace;
}

.navBarStyle {
  justify-content:flex;
  flex-direction: row;
  width: 100%;
  padding-left: 10px;
  height: 20vh;
  background-image: linear-gradient(30deg , #0048bd, #44a7fd);
  justify-content: space-between

}





.contractAddress{
  color: #0DAD6B;
}

.balance{
  color:#0D34AD;
}

.buttons {
  display: flex;
  flex-direction: row;
      flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  
/*   padding: 2em 0em; */
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #FFF;
  padding:  40px 0px;
  width: 240px;
}

h1 {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  margin: 0 0 0.4em;
  font-size: 1em;
}

p {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  font-size: 0.8rem;
  margin: 0 0 2em;
}


.buttons {
  width: 35%;
  display: flex;
  flex-direction: row;
      flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
/*   padding: 2em 0em; */
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #FFF;
  padding:  0px 0px;
  width: 240px;
}

h1 {
  text-align: center;
  color: #444;
  letter-spacing: 0.05em;
  margin: 0 0 0.4em;
  font-size: 2.5em;
}

p {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  margin: 0 0 2em;
}


.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #000;
  outline: solid  2px #000;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect04::before,
.effect04 span{
    margin: 0 auto;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transition-duration: 0.4s;
}

/* 文字1を上に */
.effect04:hover{

  background-color: #000;
}

/* HOVERしたら文字1を上に */
.effect04:hover span{
  -webkit-transform: translateY(-400%) scale(-0.1,20);
          transform: translateY(-400%) scale(-0.1,20);
}

/*文字2*/
.effect04::before{
  content: attr(data-sm-link-text);
	color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1,20);
          transform: translateY(500%) scale(-0.1,20);
}

/* HOVERしたら文字2を上に */
.effect04:hover::before{
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1,1);
          transform: translateY(0) scale(1,1);
}

.stakeAddress{
  color: #D9390E;
}

.navBar {

  margin-bottom: 3rem;
  justify-content:space-between;
  border: 3px solid  black; 

}


.navIcon {
  margin-top:1rem;
  height:1.5rem;
  opacity: 0.95;
  
  
  
  
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.topRight {
  
  position:relative;
  top:3;
  overflow:visible;
  right:2;
}

.navBarWallet {
  display: flex;
  flex-direction: row;
  margin: 0.1rem;
  
  
  
}

.navBarMain {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  justify-items: left;
  justify-self: self-start;
}

.span {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color:black;
  
}


.wrapper {
  
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-1{
  height: 20vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 28ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.5em;
  color:#444
}

.typing-demo-1 {
  width: 26ch;
  
  white-space: nowrap;
  overflow: hidden;
 
  font-family: monospace;
  font-size: 2em;
}


@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}



.button {
  margin-top:7%;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.row-element {
  
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5rem;
  flex-direction: row;
}


.button1 {
  margin-top:10%;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  
  margin-bottom: 5rem;
  }

.button1:hover {
  background-color: #3B7CEF;
  box-shadow: 0px 15px 20px rgba(59, 124, 239, 0.4);
  color: #fff;
  transform: translateY(-7px);
}


.button2 {
  margin-top:10%;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: 5rem;
  }

.button2:hover {
  background-color: #B13AE8;
  box-shadow: 0px 15px 20px rgba(177, 58, 232, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.typing-demo-2 {
  padding-top:3%;
  font-family: monospace;
  font-size: 2em;
}

.ctbBalances {
  font-size: 1rem;
}

.SpaceTop10 {
  margin-top: 5rem;
  letter-spacing: 0.1em;
  color:#0CB977;
  text-shadow: 0px 15px 20px rgba(20, 209, 137, 0.3);
  

}

.typing-demo-2 {
  width: 32ch;
  
  white-space: nowrap;
  overflow: hidden;
  
  font-family: monospace;
  font-size: 1.5em;
  
}

.spacingImage{
  padding-top:5rem;
 
}

.homePageTitle {
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 1.5em;
  color:#444;
  border: 3px solid  #FA8072; 
  padding-bottom: 3rem;
  
}

.inputField {
  color:#3B7CEF;
  
  
}

.borrowText {
  padding:2rem;
  color:#3B7CEF;
  font-weight: bold;

}


.borrowText-1 {
  
  color:#3B7CEF;
  font-weight: bold;
  text-transform: uppercase;
  
}

.payBackText {
  color:#B13AE8;
  padding:2rem;
  font-weight: bold;
}

.payBackText-1{
  color:#B13AE8;
  font-weight: bold;
  text-transform: uppercase;
}

.ctbBalances-1 {
  padding-top:1rem;
  font-size: 1rem;
}

.ctbBalances-2 {
  padding-top:1rem;
  
  font-size: 1rem;
  padding-right:0.6rem;
}

.icoText {
  color: #F5B041;
}


.blink_me {
  animation: blinker 3s linear ;
  }
  
  @keyframes blinker {
  50% {
  opacity: 0;
  transform: rotate(-90deg);
  
  }

  }


  .spacingTopBottom {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

  }